<template name="Game_page">
  <div class="game-container bg-dark">
    <div class="container">
      <h1 class="game-title col-lg-8">{{game.name}}</h1>
      <div class="col-lg-8">
        <div class="game-img">
          <img src="{{game.img}}" alt="{{game.name}} Image" class="game-header-image"/>
          <div class="game-rating">
            {{{showRating game.rating}}}
          </div>
        </div>
        <div class="play-bar">
          <a href="#" class="btn btn-play"><i class="fa fa-gamepad" aria-hidden="true"></i> Play</a>
          {{#if isGameOnList}}
            <a href="#" class="btn btn-list-added js-add-to-list"><i class="fa fa-check" aria-hidden="true" id="icon-added"></i> In List</a>
          {{else}}
            <a href="#" class="btn btn-list-add js-add-to-list"><i class="fa fa-plus" aria-hidden="true"></i> My List</a>
          {{/if}}
          <div class="os-div">
            Available on:
            {{#if game.availableOn.windows}}
              <i class="fa fa-windows os-icon" aria-hidden="true"></i>
            {{/if}}
            {{#if game.availableOn.mac}}
              <i class="fa fa-apple os-icon" aria-hidden="true"></i>
            {{/if}}
            {{#if game.availableOn.linux}}
              <i class="fa fa-linux os-icon" aria-hidden="true"></i>
            {{/if}}
          </div>
        </div>
        <p class="game-description">
          {{game.description}}
        </p>
        <h3>Gallery: </h3>
        <div class="separator"></div>
        <div id="gameGalleryCarousel" class="carousel slide gallery">
          <ol class="carousel-indicators">
            {{#each imgVid in imagesAndVideos}}
              <li class="{{isActive(@index)}}" data-target="#gameGalleryCarousel" data-slide-to="{{@index}}"></li>
            {{/each}}
          </ol>
          <div class="carousel-inner" role="listbox">
            {{#each videoLink in videoLinks}}
              <div class="item {{isActive(@index)}} vid">
                <iframe src="{{videoLink}}" frameborder="0" width="100%" height="100%"></iframe>
              </div>
            {{/each}}
            {{#each imgLink in galleryImages}}
              <div class="item">
                <img src="{{imgLink}}" alt="Gallery Image" />
              </div>
            {{/each}}
          </div>
          <a class="left carousel-control" href="#gameGalleryCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#gameGalleryCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <h3>Reviews:  <span class="badge">{{reviewCount}}</span></h3>
        <div class="separator"></div>
        <div class="reviews">
          {{#each review in gameReviews}}
            {{> Review_comp review=review}}
          {{/each}}
          <a href="{{pathFor 'Game.reviews' gameId=game._id}}" class="show-all">Show all {{reviewCount}} reviews</a>
        </div>
      </div>

      <div class="col-lg-4 right-column">
        <div class="right-column-header">Developed By</div>
        <div class="right-column-items dev">
          {{#each developer in developers}}
            <p><a href="{{pathFor 'Developer.games' devId=developer._id}}" class="developer-name">{{developer.name}}</a></p>
            <p>
              <a href="https://facebook.com/{{developer.contactInfo.facebook}}"><i class="fa fa-facebook contact-icon face" aria-hidden="true"></i></a>
              <a href="https://twitter.com/{{developer.contactInfo.twitter}}"><i class="fa fa-twitter contact-icon twit" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-envelope-o contact-icon mail" aria-hidden="true"></i></a>
            </p>
            {{#if isNotLastDev @index}}
              <div class="separator"></div>
            {{/if}}
          {{/each}}
        </div>
        <div class="right-column-header">Minimum System Requirements</div>
        <div class="right-column-items">
          <p>OS: {{game.minSysRequirements.operatingSystem}}</p>
          <p>Processor: {{game.minSysRequirements.processor}}</p>
          <p>Graphics: {{game.minSysRequirements.graphics}}</p>
          <p>Storage: {{game.minSysRequirements.storage}}</p>
          <p>DirectX: {{game.minSysRequirements.directX}}</p>
          <p>Sound: {{game.minSysRequirements.soundCard}}</p>
          <p>Aditional Notes: {{game.minSysRequirements.aditionalNotes}}</p>
        </div>
        <div class="right-column-header">Recommended System Requirements</div>
        <div class="right-column-items">
          <p>OS: {{game.recommendedSysRequirements.operatingSystem}}</p>
          <p>Processor: {{game.recommendedSysRequirements.processor}}</p>
          <p>Graphics: {{game.recommendedSysRequirements.graphics}}</p>
          <p>Storage: {{game.recommendedSysRequirements.storage}}</p>
          <p>DirectX: {{game.recommendedSysRequirements.directX}}</p>
          <p>Sound: {{game.recommendedSysRequirements.soundCard}}</p>
          <p>Aditional Notes: {{game.recommendedSysRequirements.aditionalNotes}}</p>
        </div>
        <div class="right-column-header">ESRB Rating</div>
        <div class="right-column-items img">
          <img src="{{esrbRatingImg game.esrbRating}}" alt="ESRB Rating" class="esrb"/>
        </div>
        <div class="right-column-header">Languages</div>
        <div class="right-column-items">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Interface</th>
                <th>Audio</th>
                <th>Subtitles</th>
              </tr>
            </thead>
            <tbody>
              {{#each language in languages}}
                <tr>
                  <td>{{language.name}}</td>
                  <td>{{#if language.interface}} <i class="fa fa-check" aria-hidden="true"></i>{{else}} <i class="fa fa-times" aria-hidden="true"></i>{{/if}}</td>
                  <td>{{#if language.audio}}<i class="fa fa-check" aria-hidden="true"></i>{{else}} <i class="fa fa-times" aria-hidden="true"></i>{{/if}}</td>
                  <td>{{#if language.subtitles}}<i class="fa fa-check" aria-hidden="true"></i>{{else}} <i class="fa fa-times" aria-hidden="true"></i>{{/if}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
