<template name="Home_page">
  <div id="myCarousel" class="carousel slide header-for-nav" data-ride="carousel">
    <ol class="carousel-indicators">
      <li class="active" data-target="#myCarousel" data-slide-to="0"></li>
      <li class="" data-target="#myCarousel" data-slide-to="1"></li>
      <li class="" data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      {{#each game in gamesAddedRecently}}
        <div class="item {{isActive(@index)}}">
          <img src="{{game.imgHigh}}" alt="{{game.name}} Image" />
          <div class="container">
            <div class="carousel-caption">
              <h1>{{game.name}}</h1>
              <p>
                <a href="{{pathFor 'Games.show' _id=game._id}}" class="btn btn-play"><i class="fa fa-gamepad fa-spx" aria-hidden="true"></i>  Play Now!</a>
              </p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <section id="games-section">
    {{#each genre in genres}}
      <div class="{{#if isEven @index}}bg-dark{{else}}bg-no-tan-darks{{/if}}">
        <div class="{{#if isFirstGenre @index}}padding-div-md{{else}}padding-div-lg{{/if}}"></div>
        <a href="{{pathFor 'Genre.show' genre=genre}}" class="genre-title">{{genre}} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <div class="padding-div-sm"></div>
        <div class="container-fluid apretado">
          <div class="row">
            {{#each game in (gamesByGenre genre)}}
              {{> GamesGrid_comp game=game}}
            {{/each}}
          </div>
          <a href="{{pathFor 'Genre.show' genre=genre}}" class="show-all-text">
            Show All  <span class="badge">{{gameCount genre}}</span>
          </a>
        </div>
      </div>
    {{/each}}
    {{#if myListGames}}
      <div class="mylist-div">
        <a href="{{pathFor 'User.list'}}" class="genre-title">Your List <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <div class="padding-div-sm"></div>
        <div class="container-fluid apretado">
          <div class="row">
            {{#each game in myListGames}}
              {{> GamesGrid_comp game=game}}
            {{/each}}
          </div>
          <a href="{{pathFor 'User.list'}}" class="show-all-text">
            Show All  <span class="badge">{{myListCount}}</span>
          </a>
        </div>
      </div>
    {{/if}}
  </section>
</template>
