<template name="MyList_page">
  <section id="games-section">
    <div class="bg-dark myList">
      <div class="container-fluid">
        <div class="row">
          {{#each game in myListGames}}
            {{> GamesGrid_comp game=game}}
          {{/each}}
        </div>
      </div>
    </div>
  </section>
</template>
