<template name="Reviews_page">
  <div class="container reviews-page center-container">
    <div class="row">
      <div class="col-lg-5">
        <img src="{{game.img}}" alt="{{game.name}} Image" class="review-game-img" />
      </div>
      <div class="col-lg-7 game-info-right">
        <h1>{{game.name}}</h1>
        <h3>
          {{developerNames game.developerIds}}
        </h3>
        <p>
          {{{showGameRating game.rating}}}
        </p>
        {{#if userReview}}
          <a href="{{pathFor 'Single.review' reviewId=userReview._id}}" class="btn btn-reviewed"><i class="fa fa-check"></i> Reviewed - click here to see your review</a>
        {{else}}
          <a href="#" class="btn btn-play js-show-review-form">Create New Review</a>
        {{/if}}
      </div>
    </div>
    {{> Review_submit_form}}
    <div class="">
      {{#each review in gameReviews}}
        {{> Review_comp review=review}}
      {{/each}}
    </div>
  </div>
</template>

<template name="Review_submit_form">
  <form class="js-new-review new-review-form">
    <div class="container center-container">
      <div class="row">
        <div class="col-lg-8">
          <p>
            <input type="text" name="title" maxlength="60" id="input-title" placeholder="Title">
          </p>
        </div>
        <div class="col-lg-2 stars">
          <a href="#" class="star"><i class="fa fa-star-o" aria-hidden="true"></i></a>
          <a href="#" class="star"><i class="fa fa-star-o" aria-hidden="true"></i></a>
          <a href="#" class="star"><i class="fa fa-star-o" aria-hidden="true"></i></a>
          <a href="#" class="star"><i class="fa fa-star-o" aria-hidden="true"></i></a>
          <a href="#" class="star"><i class="fa fa-star-o" aria-hidden="true"></i></a>
        </div>
        <div class="col-lg-2">
          <a href="#" class="close-submit">Close <i class="fa fa-times" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10">
          <p>
            <textarea name="content" rows="8" cols="40" id="input-content" placeholder="Content"></textarea>
          </p>
        </div>
      </div>
    </div>
  </form>
</template>
