<template name="Main_nav">
  <nav class="navbar navbar-gradient navbar-fixed-top" id="affixNav">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button">
          <span class="sr-only">Toggle Navigation</span>
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <a href="{{pathFor 'App.home'}}"><i class="fa fa-gamepad fa-2x" aria-hidden="true"></i></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><div class="vertical-separator nav-right-item"></div></li>
          <li>
            <div class="dropdown">
              <a href="#" class="dropdown-toggle nav-right-item" type="button" id="genre-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{gameDropdownTitle}}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu navbar-drop" aria-labelledby="genre-dropdown">
                <li class="dropdown-header">Browse by genre:</li>
                {{#each genre in genres}}
                  <li><a href="{{pathFor 'Genre.show' genre=genre}}">{{genre}}</a></li>
                {{/each}}
                <li role="separator" class="divider"></li>
                <li><a href="#">All genres and tags</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{pathFor 'User.list'}}">Your List</a></li>
              </ul>
            </div>
          </li>
          {{#if isSearchRoute}}
            <input id="search-box" type="text" name="SearchBox" placeholder="game title">
          {{else}}
            <li><a href="{{pathFor 'App.search'}}" class="nav-right-item"><i class="fa fa-search fa-1p2x" aria-hidden="true"></i></a></li>
          {{/if}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <div class="dropdown">
              <a href="#" class="dropdown-toggle nav-right-item" type="button" id="user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{userFirstName}}
                <i class="fa fa-caret-down" aria-hidden="true"></i>
              </a>
              <ul class="dropdown-menu navbar-drop" aria-labelledby="user-dropdown">
                <li><a href="#" class="dropdown-item">Profile</a></li>
                <li><a href="#" class="dropdown-item">Account</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" class="js-signout dropdown-item">Sign Out</a></li>
              </ul>
            </div>
          </li>
          <li><a href="#" class="nav-right-item"><i class="fa fa-download" aria-hidden="true"></i>  Download</a></li>
        </ul>
      </div>
    </div>
  </nav>
</template>
