@import './utils.less';

.btn {
  color: white;
  vertical-align: middle;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  font-weight: 500;
}

.btn:hover {
  background-image: linear-gradient(#eee, #d5d5d5);
}

.btn-primary {
  color: white !important;
  background-color: #1976D2;
  background-image: linear-gradient(#90CAF9, #1976D2);
  border-color: #1565C0;
}

.btn-primary:hover, .btn-play:hover, .btn-play:focus {
  color: white;
  background-image: linear-gradient(#42A5F5, #1565C0);
}

.btn-jumbotron {
  margin-top: 20px;
  background-image: none;
  background-color: @color-primary;
  padding: 15px 30px;
  border: 1;
  border-color: @color-primary;
  border-radius: 300px;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-jumbotron:hover {
  color: white;
  background-image: none;
  background-color: @color-primary-hover;
  border-color: @color-primary-hover;
}

.btn-jumbotron.empty {
  color: @color-primary;
  background-color: rgba(66, 165, 245, .1);
}

.btn-jumbotron.empty:hover {
  color: @color-primary-hover;
  border-color: @color-primary-hover;
  background-color: rgba(66, 165, 245, .3);
}

.btn-play {
  border: 0;
  background-image: none;
  background-image: linear-gradient(#64b5f6, #1e88e5);
  font-size: 18px;
  border-radius: 4px;
  font-weight: 500;
}

.btn-list {
  background-image: none;
  background-color: transparent;
  color: #ddd;
  border-color: #ddd;
  border-radius: 4px;
  font-weight: 500;
}
