@import "./utils.less";

.game-description {
  color: white;
  text-align: justify;
}

.game-header-image {
  height: 365px;
  width: 100%;
}

.game-title {
  margin: 0;
  padding-left: 15px;
  padding-bottom: 5px;
  color: white;
}

.play-bar {
  padding-top: 5px;
  padding-bottom: 15px;
}

.os-div {
  color: #bbb;
  float: right;
  margin-top: 14px;
}

.os-icon {
  color: white;
  font-size: 1.5em;
  margin-left: 5px;
}

.right-column-header {
  padding: 5px 0;
  color: white;
  text-align: center;
  background-color:  #525C65;//@color-primary;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.right-column-items {
  color: white;
  border: 1.5px solid  #525C65;//@color-primary;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 15px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  p {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: justify;
  }
}

.right-column-header.dev {
  background-color: @color-primary-hover;
}

.right-column-header.lang {
  background-color: #4caf50;
}

.right-column-items.lang {
  border-color: #4caf50;
}

td .fa-check {
  color: #4caf50;
}

td .fa-times {
  color: #f44336;
}

.table {
  text-align: center;
}

.developer-name {
  color: #ddd;
  vertical-align: center;
  font-size: 16px;
  font-weight: bold;
}

.right-column-items.dev p {
  text-align: center;
  display: block;
}

.developer-name:hover, .developer-name:focus {
  color: white;
}

#gameGalleryCarousel {
  margin: 15px 0;
  width: 100%;
}

.gallery, .gallery .item {
  height: 450px;
}

h3 {
  color: white;
}

.reviews {
  text-align: center;
  margin-bottom: 15px;
}

.review-item {
  color: white;
  margin: 15px 0;
  font-size: 16px;
  text-align: left;

  img {
    margin: 10px 5px;
  }

  p {
    background-color: #444;
    padding: 5px 10px;
    text-align: justify;
    margin-bottom: 0;
  }
}

.reviews-separator {
  background-color: #777 !important;
}

.rating {
  float: right;
  margin-top: 15px;
  margin-right: 5px;
}

.review-item-header {
  background-color: #525C65;//#777;
}

.like-bar {
  color: white;
  background-color: #444;
  padding: 5px 10px;
  text-align: right;

  i {
    font-size: 1.5em;
  }
}

.like-button {
  color: white;
  margin-right: 10px;
}

.like-button:hover {
  color: @color-primary;
}

.dislike-button {
  color: white;
  margin: 0 10px;
}

.dislike-button:hover {
  color: #f44336;
}

.like-button:focus, .dislike-button:focus {
  color: white;
}

.disliked, .disliked:focus {
  color: #f44336 !important;
}

.liked, .liked:focus {
  color: @color-primary !important;
}

.show-all {
  color: #ddd;
}

.show-all:hover {
  color: white;
}

.esrb {
  height: 200px;
  widht: 40px;
}

.right-column-items.img {
  text-align: center;
}

.game-rating {
  color: white;
  position:absolute;
  bottom:0;
  right:0;
  font-size: 1.5em;
}

.game-img {
  position: relative;
}
