@import './utils.less';

.navbar-default {
  background-color: rgba(0, 0, 0, .8);
  border-color: none;

  .navbar-nav li {
    a {
      color: white;
    }
    a:hover {
      color: @color-secondary;
    }
  }
}

.navbar-header {
  a {
    margin-right: 15px;
    background-color: transparent;
    color: #eee;
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    position: relative;
    display: block;
    text-decoration: none;
  }

  a:hover, a:focus {
    color: white;
  }
}

.navbar-gradient.affix {
  background-image: none;
  background-color: rgba(34, 34, 34, .9);
}

.affix {
  position: fixed;
}

.navbar-gradient {
  background-color: transparent;
  background-image: linear-gradient(black, transparent);
  border-color: none;
  border-width: 0;

  .navbar-nav {
    .nav-right-item {
      background-color: transparent;
      color: #ddd;
      padding-top: 6px;
      padding-bottom: 6px;
      margin-top: 14px;
      margin-left: 6px;
      margin-right: 6px;
    }
    .nav-right-item:hover, .nav-right-item:focus {
      color: white;
      background-color: transparent;
    }

    .dropdown-item {
      background-color: transparent;
      color: #ddd;
    }

    .dropdown-item:hover {
      color: white;
      background-color: #333;
    }
  }
}

#user-dropdown {
  float: right;
}

#genre-dropdown {
  margin-left: 15px;
  float: left;
}

.navbar-drop {
  margin-top: 48px;
}

.dropdown-menu .divider {
  background-color: #555;
}

.fa-1p2x {
  font-size: 1.2em;
}

.vertical-separator {
  width: 1px;
  background-color: white !important;
}

#search-box {
  margin-top: 18px;
  margin-left: 15px;
  padding-left: 5px;
  background-color: transparent;
  color: white;
  border: 1px solid #aaa;
}
