.auth {
  margin-top: 51px;
}

.background {
    background-color: #444;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
    z-index: -1;
}

.content-center {
  height: 50%;
  width: 30%;
  color: white;
  background-color: #333;
  padding: 15px 15px;
  text-align: center;
  border-radius: 4px;

  position: relative;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.input {
  color: #111;
  margin-bottom: 15px;
}

#at-field-email, #at-field-password, #at-field-password_again {
  width: 90%;
  border-radius: 2px;
  border: 1px solid #aaa;
  padding: 5px 5px;
}

#at-field-email:focus, #at-field-password:focus, #at-field-password_again:focus {
  box-shadow: 0 0 8px #42A5F5;
  border: 2px solid #42A5F5;
}

.btn-pwd {
  width: 90%;
  margin-bottom: 15px;
}

.at-link {
  color: #42A5F5;
}

.at-link:hover {
  color: #1976D2;
}

.separator-signin {
  width: 100%;
  height: 1px;
  margin-bottom: 15px;
  background-color: #666;
}
