<template name="Auth_page">
  <div class="page auth">
    <div class="background"></div>
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item">
          <span class="icon-list-unordered"></span>
        </a>
      </div>
    </nav>

    <div class="content-center">
      <div class="wrapper-auth">
        {{> atForm}}
      </div>
    </div>
  </div>
</template>

<template name="override-atPwdFormBtn">
  <button type="submit" class="btn btn-primary btn-pwd">
    {{buttonText}}
  </button>
</template>

<template name="override-atTextInput">
  <div class="input {{#if isValidating}}validating{{/if}} {{#if hasError}}error{{/if}} {{#if hasSuccess}}has-success{{/if}} {{#if feedback}}has-feedback{{/if}}">
    <input type="{{type}}" id="at-field-{{_id}}" name="at-field-{{_id}}" placeholder="{{placeholder}}" autocapitalize="none" autocorrect="off">
    {{#if hasIcon}}
        <span class="{{iconClass}}"></span>
    {{/if}}
    {{#if hasError}}
      <span>{{errorText}}</span>
    {{/if}}
  </div>
</template>

<template name="override-atTitle">
  <h1 class="title-auth">{{title}}</h1>
  <p class="subtitle-auth">Signing in allows you to see, download and play any game in our library.</p>
</template>

<template name="override-atError">
  <div class="list-errors">
    {{#each error}}
      <div class="list-item">{{errorText}}</div>
    {{/each}}
  </div>
</template>

<template name="override-atPwdForm">
  <div class="at-pwd-form">
    <form role="form" id="at-pwd-form" class="{{disabled}}" novalidate action="#" method="POST">
      {{#each fields}}
        {{> atInput}}
      {{/each}}
      {{#if showReCaptcha}}
        {{> atReCaptcha}}
      {{/if}}
      {{> atPwdFormBtn}}
      {{#if showForgotPasswordLink}}
        {{> atPwdLink}}
      {{/if}}
    </form>
  </div>
  <div class="separator-signin"></div>
</template>
