<template name="GamesGrid_comp">
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <a href="{{pathFor 'Games.show' _id=game._id}}" class="portfolio-box">
      <img src="{{game.img}}" alt="{{game.name}} image" class="img-responsive home" id="game-img"/>
      <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
          <div class="game-developer">{{ gameDeveloperName game.developerIds }}</div>
          <div class="game-name">{{#if isSearchRoute}} {{{game.name}}} {{else}} {{game.name}} {{/if}}</div>
          <div class="game-os">
            {{#if game.availableOn.windows}}
              <i class="fa fa-windows" aria-hidden="true"></i>
            {{/if}}
            {{#if game.availableOn.mac}}
              <i class="fa fa-apple" aria-hidden="true"></i>
            {{/if}}
            {{#if game.availableOn.linux}}
              <i class="fa fa-linux" aria-hidden="true"></i>
            {{/if}}
          </div>
        </div>
      </div>
    </a>
  </div>
</template>
